@import "../../scss/variables.scss";

.apptoolbar {
    background-color: $color_white !important;
    max-height: $header-height !important;
    display: flex !important;
    justify-content: center !important;

    @media screen and (max-width: 600px) {
        max-height: $header-mobile-height !important;
    }
}

.toolbar {
    
    @media screen and (max-width:600px) {
        flex-wrap: wrap !important;
    }
    &_icon{
        color: $primary_color !important;
        @media screen and (max-width: 600px) {
            order:2;
            width: 50%;
            display: flex !important;
            justify-content: flex-start !important;
        }
    }

    &_brand{
        height: 3.5rem;  // matches AppToolbar inline
        width: auto;
        max-height: none;
        max-width: none;

        @media screen and (max-width: 900px) {
            height: 3rem;
        }

        @media screen and (max-width: 600px) {
            height: 3rem;
            padding-top: 6px;
        }
    }
}